gunicorn
Flask
google-analytics-data
google-analytics-admin
google-ads
google-api-python-client
oauth2client
python-dotenv
google-auth-httplib2
tensorflow-probability==0.22.1
keras==3.9.0
tfp-causalimpact
firebase_admin
html2image
vl-convert-python
altair==5.0.0
matplotlib
google-cloud-secret-manager
google-cloud-aiplatform==1.49.0
google-cloud-bigquery