gunicorn
Flask
google-analytics-data
google-analytics-admin
google-ads
google-api-python-client>=2.124.0
oauth2client
python-dotenv
google-auth-httplib2>=0.2.0
tensorflow>=2.15.0
tensorflow-probability==0.22.1
keras==3.13.2
firebase_admin
html2image
vl-convert-python
matplotlib
google-cloud-secret-manager
python-jose
google-cloud-aiplatform==1.49.0
google-cloud-bigquery
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
numpy==1.26.4
pandas==2.2.0
protobuf>=4.25.0
tfp-causalimpact
